nav {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  height: 100%;
  padding: 1rem;
}

button {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  margin-bottom: 1rem;
  width: 100%;
}
